---
layout: default
title: Home
---

<div class="posts">
{% for post in paginator.posts %}
<article class="post" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
<header>
<div class="title align-center">
<h2><a href="{{ post.url }}" itemprop="url"><span itemprop="name">Renungan Harian<br />{{ post.title }}</span></a></h2>
</div>
<meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
</header>
<div class="align-center" itemprop="description">
<div class="headayat">{{ post.isiayat }}</div>
<div class="headayat">{{ post.ayat }}</div>
</div>
<footer>
<hr />
</footer>
</article>
{% endfor %}
</div>

<div class="pagination">
<div style="width:48%; display: inline-block">
  {% if paginator.next_page %}
    <a class="iasprt iaprevious" href="{{ paginator.next_page_path }}/">&nbsp;</a>
  {% else %}
    <span class="older">&nbsp;</span>
  {% endif %}
</div>

<div style="width:48%; display: inline-block;">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="iasprt ianext" href="{{ site.baseurl }}/">&nbsp;</a>
    {% else %}
      <a class="iasprt ianext" href="{{ paginator.previous_page_path | replace:'index.html','' }}/">&nbsp;</a>
    {% endif %}
  {% else %}
    <span class="newer">&nbsp;</span>
  {% endif %}
</div>
</div>

<hr />