@charset "utf-8";

/*
$cdnurl : "https://iacdn.global.ssl.fastly.net";
$cdnurl : "https://cdn.ikutlahaku.com";
$cdnurl : "https://truvasemuv-a.akamaihd.net";
*/

$cdnurl : "https://cdn.ikutlahaku.com";

/*
#{$cdnurl}
*/

/*@import "_sass/brick";*/
@import "_sass/poole";
@import "_sass/lanyon";
@import "_sass/fonts";
/*@import "_sass/drawer";*/
@import "_sass/iacss";
@import "_sass/sprites";