---
layout: default
---

						<!-- Post -->
            <article class="post">
              <header>
                <div class="title">
                  <h2>Edisi {{ page.title | replace: '-', ' ' | capitalize }}</h2>
                </div>
              </header>
              {% if page.image %}
                <a href="{{ page.url }}" class="image featured"><img src="{{page.image}}" alt="" /></a>
              {% endif %}
              {{ content }}
              <footer>
              </footer>
           </article>
			